@use '../../styles/mixin';
@use '../../styles/var' as color;

.item {
  width: 17rem;
  height: 5.125rem;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.user__avatar {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  overflow: hidden;

  img {
    content: url('../../public/logo_gray@2x.png');
    width: 100%;
    display: block;
  }
}

.user__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 13px 0 8px;

  .user__info__name {
    @include mixin.font-setting(1rem, 700, color.$gray-10);
    width: 4.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1.625rem;
    line-height: 1.625rem;
  }

  .user__info__account {
    @include mixin.font-setting(0.875rem, 500, color.$gray-7);
    width: 4.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1.375rem;
    line-height: 1.375rem;
  }
}
.btn__follow {
  width: 96px;
  display: flex;
  justify-content: flex-end;

  .btn__follow__container {
    display: flex;
    width: 64px;
  }

  .btn__follow__container__action {
    display: flex;
    width: 96px;
  }
}
