@use '../../styles/mixin';
@use '../../styles/var' as color;
.popularUser__container {
  display: none;
}

@media screen and (min-width: 800px) {
  .popularUser__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 1rem;
    background-color: #fafaf8;

    .popularUser__title {
      @include mixin.font-setting(1.5rem, 700, color.$gray-10);
      margin: 24px;
    }

    .line {
      border-bottom: 1px solid #e6ecf0;
    }

    .popularUser__main {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
    }
  }
}
