@use '../../styles/mixin';
@use '../../styles/var' as color;

.listItem__container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #e6ecf0;

  .listItem__avatar {
    margin-right: 0.5rem;

    div {
      width: 3.125rem;
      height: 3.125rem;
      border-radius: 50%;
      overflow: hidden;
    }

    img {
      content: url('../../public/logo_gray@2x.png');
      width: 100%;
      display: block;
    }
  }
  .listItem__info {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 0.5rem;
    width: 100%;
    // width: 71.7%;
    height: 100%;
    .info__account {
      display: flex;
      gap: 0.5rem;
      p {
        @include mixin.font-setting(1rem, 700, color.$gray-10);
      }
      span {
        @include mixin.font-setting(0.875rem, 400, color.$primary-color);
      }
    }

    .info__tweet {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      p {
        @include mixin.font-setting(0.875rem, 400, color.$gray-10);
        width: 100%;
        line-height: 1.375rem;
        max-height: 6.875rem;
        overflow: hidden;
        word-break: break-word;
        // text-overflow: ellipsis;
      }
    }

    .info__icons {
      display: flex;
      gap: 2.56rem;
      .icon__reply {
        display: flex;
        gap: 8px;
        width: 38px;
        height: 16px;
        .cursor {
          width: 1rem;
          height: 1rem;
          cursor: pointer;
          img {
            content: url('../../public/tweet/tweet_reply@2x.png');
            width: 100%;
            display: block;
          }
        }

        span {
          @include mixin.font-setting(0.875rem, 600, color.$primary-color);
        }
      }

      .icon__like {
        display: flex;
        gap: 8px;
        width: 38px;
        height: 16px;

        .cursor {
          width: 1rem;
          height: 1rem;
          cursor: pointer;

          img {
            content: url('../../public/tweet/tweet_like@2x.png');
            width: 100%;
            display: block;
          }
        }

        span {
          @include mixin.font-setting(0.875rem, 600, color.$primary-color);
        }
      }
    }
  }
}
