@use '../../styles/mixin';
@use '../../styles/var' as color;

.tab__container {
  width: 100%;
  height: 3.3125rem;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid color.$assistant-gray-color;

  .follow {
    min-width: 8.125rem;
    height: 100%;
    text-align: center;

    .follower,
    .follower:hover {
      width: 100%;
      height: 100%;
      padding: 0.9375rem 2.6875rem 0.9375rem 1.6875rem;
      @include mixin.font-setting(0.9375rem, 700, #657786);
      line-height: 1.375rem;
    }

    .following,
    .following:hover {
      width: 100%;
      height: 100%;
      padding: 0.9375rem 2.6875rem 0.9375rem 3.635rem;
      @include mixin.font-setting(0.9375rem, 700, #657786);
      line-height: 1.375rem;
    }

    .follower:hover,
    .following:hover {
      color: color.$brand-color;
      border-bottom: 2px solid color.$brand-color;
    }
  }
}
