.setting {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__form {
    padding: 16px 24px;

    &__inputs {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    &__buttons {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 22px;

      &__save {
        width: 88px;
      }

      &__logout {
        width: inherit;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .setting {
    &__form {
      padding: 24px 23px;
    }
  }
  .setting__form__buttons__logout {
    display: none;
  }
}
