@use '../styles/var' as color;

// 固定整個頁面，不要隨著滾動條動作
body {
  overflow: hidden;
}

.main__container {
  width: 100vw;
  margin: 0 auto;
  display: flex;

  .main__screen {
    width: 100%;
    border: 1px solid color.$assistant-gray-color;
  }
}

.popularUser {
  display: none;
}

@media screen and (min-width: 800px) {
  .main__container {
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 1.5rem;
  }

  .sideBar {
    width: 3.5rem;
    display: block;
    
  }

  .main__screen {
    flex: 1;
    height: 100vh;

  }

  .popularUser {
    display: block;
    width: 18.5rem;
    margin-top: 1.375rem;

  }
}

// @media screen and (min-width: 900px) {
//   .popularUser {
//     display: block;
//     width: 18.5rem;
//     margin-top: 1rem;
//   }
// }

@media screen and (min-width: 1200px) {
  .main__container {
    width: 80%;
  }

  .sideBar {
    width: 11.125rem;
  }

  .main__screen {
    flex: 1;
  }

  .popularUser {
    display: block;
    width: 17.06rem;
    margin-top: 1rem;
  }
}
