@use '../styles/var' as color;

.setting {
  width: 100%;
  display: flex;

  &__form {
    width: 100%;
    border-left: 1px solid color.$assistant-gray-color;
    border-right: 1px solid color.$assistant-gray-color;
  }
}

@media screen and (min-width: 800px) {
  .setting {
    &__sideBar {
      width: 3.5rem;
      // display: block;
      margin-left: 52px;
      margin-right: 24px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .setting {
    width: inherit;
    margin-left: 123px;
    &__sideBar {
      width: 11.125rem;
      margin-left: 0;
      margin-right: 24px;
    }
    &__form {
      width: 44vw;
    }
  }
}
