@use '../styles/var' as color;

.setting {
  width: 100%;
  margin: 0 auto;
  display: flex;

  &__form {
    width: 100%;
    border-left: 1px solid color.$assistant-gray-color;
    border-right: 1px solid color.$assistant-gray-color;
  }
  .unContainer {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .setting {
    display: flex;
    width: 90%;
    gap: 1.5rem;
    &__sideBar {
      width: 3.5rem;
      display: block;
    }

    .setting__form {
    }

    .unContainer {
      display: block;
      width: 18.5rem;
      padding: 1rem 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .setting {
    width: 80%;
    &__sideBar {
      width: 11.125rem;
    }
    &__form {
      flex: 1;
    }
    .unContainer {
      display: block;
      width: 17.06rem;
      margin-top: 1rem;
    }
  }
}
