.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 26px;
  gap: 17px;

  .title {
    display: none;
  }
}

.icon_home {
  content: url('../public/nav/nav_home@2x.png');
  width: 22px;
  height: 20px;
  display: block;
}

.icon_user {
  content: url('../public/nav/nav_user@2x.png');
  width: 22px;
  height: 20px;
  display: block;
}

.icon_setting {
  content: url('../public/nav/nav_set@2x.png');
  width: 22px;
  height: 20px;
  display: block;
}

@media screen and (min-width: 992px) {
  .container {
    flex-direction: row;
    .title {
      width: 100%;
      display: block;
    }
  }
}
