@use '../styles/mixin';
@use '../styles/var' as color;

.card__container {
  width: 15.3125rem;
  height: 19.625rem;
  position: relative;
  top: 0;

  .background__img {
    width: 100%;

    .img__container {
      width: 15.3125rem;
      height: 8.75rem;
      border-radius: 10px 10px 0 0;
      .img {
        content: url(../public/admin/admin_background@2x.png);
        width: 100%;
        display: block;
      }
    }
  }

  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    .info__action {
      width: 8.6875rem;
      height: 1.625rem;
      margin: 5.875rem 3.3125rem 0 3.3125rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      .action__container {
        width: 3.8125rem;
        height: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        .icon {
          width: 1.5rem;
          height: 1.5rem;
          .icon__tweet {
            content: url(../public/admin/admin_reply@2x.png);
            width: 100%;
            display: block;
          }
          .icon__like {
            content: url(../public/admin/admin_like@2x.png);
            width: 100%;
            display: block;
          }
        }
        span {
          @include mixin.font-setting(1rem, 500, #1c1c1c);
          width: 1.8125rem;
          height: 0.9375rem;
          line-height: 0.9375rem;
        }
      }
    }

    .follow {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 9.875rem;
      height: 1.375rem;
      gap: 0.5rem;
      margin: 0 2.6875rem 1.5rem 2.75rem;
      p {
        @include mixin.font-setting(0.875rem, 400, color.$gray-10);
        span {
          @include mixin.font-setting(0.875rem, 400, color.$primary-color);
        }
      }
    }
  }

  .user {
    // display: none;
    position: absolute;
    top: 4rem;
    left: 4.5rem;
    width: 6.25rem;
    height: 9.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .user__avatar {
      width: 100%;
      height: 100%;
      display: flex;

      .avatar__container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6.25rem;
        height: 6.25rem;
        border-radius: 50%;
        background-color: #fff;
        overflow: hidden;
        z-index: 1;
        .avatar__img {
          content: url('../public/default_background@2x.png');
          width: 90%;
          height: 90%;
          border-radius: 50%;
          display: block;
          z-index: 2;
        }
      }
    }
    .title {
      width: 6.25rem;
      display: flex;
      flex-direction: column;
      // align-items: center;
      text-align: center;

      .name {
        width: 100%;
        @include mixin.font-setting(1rem, 700, color.$gray-10);
        line-height: 1.625rem;
      }

      .account {
        width: 90.54%;
        @include mixin.font-setting(0.875rem, 400, color.$primary-color);
        line-height: 1.375rem;
      }
    }
  }
}
