@use '../../styles/mixin';
@use '../../styles/var' as color;

.card__container {
  aspect-ratio: 1 / 1.26;
  width: 100%;
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  .background__img {
    width: 100%;
    height: 44.6%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;

    .img {
      height: 100%;
      display: block;
    }
  }
  .info {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.56%;
    background-color: #f6f7f8;
    .title {
      text-align: center;

      .name {
        width: 100%;
        @include mixin.font-setting(1rem, 700, color.$gray-10);
        line-height: 1.625rem;
      }

      .account {
        width: 90.54%;
        @include mixin.font-setting(0.875rem, 400, color.$primary-color);
        line-height: 1.375rem;
      }
    }
    .info__action {
      width: 8.6875rem;
      height: 1.625rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      .action__container {
        width: 3.8125rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        .icon {
          width: 1.5rem;
          height: 1.5rem;
          .icon__tweet {
            content: url(../../public/admin/admin_reply@2x.png);
            width: 100%;
            display: block;
          }
          .icon__like {
            content: url(../../public/admin/admin_like@2x.png);
            width: 100%;
            display: block;
          }
        }
        span {
          @include mixin.font-setting(1rem, 500, #1c1c1c);
          width: 1.8125rem;
          height: 0.9375rem;
          line-height: 0.9375rem;
        }
      }
    }
    .follow {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 9.875rem;
      height: 1.375rem;
      gap: 0.5rem;
      p {
        @include mixin.font-setting(0.875rem, 400, color.$gray-10);
        span {
          @include mixin.font-setting(0.875rem, 400, color.$primary-color);
        }
      }
    }
  }
  .user {
    position: absolute;
    top: 22.4%;
    left: 31.7%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .user__avatar {
      width: 100%;
      height: 100%;
      display: flex;
      .avatar__container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 31.84%;
        height: 31.84%;
        border-radius: 50%;
        background-color: #fff;
        overflow: hidden;
        z-index: 1;
        .avatar__img {
          width: 90%;
          height: 90%;
          border-radius: 50%;
          display: block;
          z-index: 2;
        }
      }
    }
  }
}
