@use '../../styles/mixin';
@use '../../styles/var' as color;

.tab__container {
  margin-top: 16px;
  width: 100%;
  display: flex;
  gap: 16px;
  border-bottom: 1px solid color.$assistant-gray-color;

  .navlink {
    text-decoration: none;
    color: #657786;
  }

  .follow,
  .follow__action {
    position: relative;
    width: 90px;
    height: 52px;
    padding: 0 1px 13px 1px;

    &:hover {
      border-bottom: 2px solid color.$brand-color;
    }

    .follower,
    .following {
      position: absolute;
      text-decoration: none;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include mixin.font-setting(0.9375rem, 700, #657786);
      line-height: 1.375rem;
    }

    .follower__action,
    .following__action {
      position: absolute;
      text-decoration: none;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1.375rem;
      @include mixin.font-setting(0.9375rem, 700, color.$brand-color);
    }

  }

  .follow__action {
    border-bottom: 2px solid color.$brand-color;
  }
}

@media screen and (min-width: 800px) {
  .tab__container {
    margin-top: 0;
  }
}